<% content_for :head do %>
  <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
  <script>
  function initialize(position) 
  {
        var mapOptions = {
          zoom: 19,
          center: new google.maps.LatLng(position.coords.latitude, position.coords.longitude),
          mapTypeId: google.maps.MapTypeId.ROADMAP
        };
        map = new google.maps.Map(document.getElementById('map-canvas'),
            mapOptions);
  }
  function success(position)
  {
      var map;
      
      google.maps.event.addDomListener(window, 'load', initialize(position));
  }
  function error(msg) {
  var s = document.querySelector('#status');
  s.innerHTML = typeof msg == 'string' ? msg : "failed";
  s.className = 'fail';
  
  // console.log(arguments);
}
	if (navigator.geolocation) {
	navigator.geolocation.getCurrentPosition(success, error);
	} else {
	error('not supported');
	}
    </script>
<% end %>

<div class="container-fluid">
	<div class="row-fluid">
		<div class="span12">
			<div id="map-canvas"></div>
		</div>
	</div>
</div>