<% content_for :head do %>
  <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
  <script>
  function initialize(position) 
  {
        var mapOptions = {
          zoom: 19,
          center: new google.maps.LatLng(position.coords.latitude, position.coords.longitude),
          mapTypeId: google.maps.MapTypeId.ROADMAP
        };
        map = new google.maps.Map(document.getElementById('map-canvas'),
            mapOptions);
  }
  function success(position)
  {
      var map;
      
      google.maps.event.addDomListener(window, 'load', initialize(position));
  }
  function error(msg) {
  var s = document.querySelector('#status');
  s.innerHTML = typeof msg == 'string' ? msg : "failed";
  s.className = 'fail';
  
  // console.log(arguments);
}
	if (navigator.geolocation) {
	navigator.geolocation.getCurrentPosition(success, error);
	} else {
	error('not supported');
	}

	$(document).ready(function(){
		var h = $(window).height(),
        offsetTop = 60; // Calculate the top offset

    $('#map-canvas').css('height', (h - offsetTop));
	});
	

	$(window).resize(function () {
    var h = $(window).height(),
        offsetTop = 60; // Calculate the top offset

    $('#map-canvas').css('height', (h - offsetTop));
}).resize();
    </script>
<% end %>

<div class="container-fluid">
	<div class="row-fluid">
		<div class="span3">
          <div class="well sidebar-nav">
            <ul class="nav nav-list">
              <li class="nav-header">Current Street:</li>
              <p>street name here</p>
              <li class="nav-header">Street History:</li>
              <p>text here</p>
            </ul>
          </div><!--/.well -->
        </div><!--/span-->
		<div class="map-container span9">
			<div id="map-canvas"></div>
		</div>
	</div>
</div>